---
import Container from '../../components/ui/Container.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title='Blog' description='Read my latest blog posts'>
  <Container>
    <h1>Hello Blog Here.</h1>
  </Container>
</BaseLayout>
