---
import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/ui/Container.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout title='Joshua' description='My portfolio website'>
  <Container>
    <h1>Joshua Nwosu</h1>
  </Container>
</BaseLayout>
