---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/ui/Container.astro';
import { getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const siteConfig = await getEntry('site', 'home');

if (!siteConfig) {
  throw new Error('Site configuration not found');
}

const site: CollectionEntry<'site'>['data'] = siteConfig.data;
---

<BaseLayout title={`${site.name} - Portfolio`} description={site.introduction}>
  <Container>
    <h1>Joshua Nwosu</h1>
  </Container>
</BaseLayout>
