---
import Container from '../../components/ui/Container.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title='Projects' description='View all my projects'>
  <Container>
    <h1>Hello Projects Here.</h1>
  </Container>
</BaseLayout>
